:root
{
    --primary-color:Purple;
    --bg-color:#f4f4f4;
}
header 
{
    color:black;
    background-color:blue;
        padding:20px;
        border-radius:8px;

        
}
body
{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color:black;
    margin:0;
    padding: 20px;
}
main
{
    
    background-color: white;
    padding:20px;
    
}
footer
{
    text-align:center;
    padding:20px;
    background-color:green;
}
